form {
  margin: 10px 20px 0 20px;
}
label {
  font-size: 24px;
  font-weight: 900;
}
#form-message {
  width: 100%;
}

.text-field {
  width: 100%;
}

.container {
  margin-bottom: 24px;
}

button {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.935);
  padding: 5px 10px;
  border: solid 1px;
  font-size: 24px;
}
